<div class="space-y-2 h-screen">
    <div class=" m-2 flex gap-2 ">
        <div class=" p-2 w-1/5 bg-white h-max border space-y-2 rounded">
            <div class="flex justify-between">
                <p class="font-semibold">Filter</p>
                <p>Reset</p>    
            </div>
            <hr />
            <div class="space-y-4">
                <p class="font-medium">Sort By</p>
                <div class="grid grid-cols-2 grid-flow-row">
                    <div class="flex items-center gap-2">
                        <input type="checkbox" id="tick1" />
                        <label for="tick1">Salary</label>
                    </div>
                    
                    <div class="flex items-center gap-2">
                        <input type="checkbox" id="tick4" />
                        <label for="tick4">Applications</label>
                    </div>
                </div>
                <!-- <div>
                    <p>Salary Range</p>
                    <mat-slider class="slider" min="0" max="1000" discrete>
                        <label>0-500</label>
                        <input value="300" matSliderStartThumb>
                        
                        <input value="500" matSliderEndThumb>
                    </mat-slider>
                </div> -->
                <p>Job Type</p>
                <div class="grid grid-cols-2 grid-flow-row">
                    <div class="flex items-center gap-2">
                        <input type="checkbox" id="tick3" />
                        <label for="tick3">Contract</label>
                    </div>
                    <div class="flex items-center gap-2">
                        <input type="checkbox" id="tick4" />
                        <label for="tick4">Part Time</label>
                    </div>
                    <div class="flex items-center gap-2">
                        <input type="checkbox" id="tick4" />
                        <label for="tick4">Full Time</label>
                    </div>
                </div>
                <p>Work Location</p>
                <div class="grid grid-cols-2 grid-flow-row">
                    <div class="flex items-center gap-2">
                        <input type="checkbox" id="tick1" />
                        <label for="tick1">Remote</label>
                    </div>
                    <div class="flex items-center gap-2">
                        <input type="checkbox" id="tick2" />
                        <label for="tick2">Hybrid</label>
                    </div>
                    <div class="flex items-center gap-2">
                        <input type="checkbox" id="tick2" />
                        <label for="tick2">In-Office</label>
                    </div>
                    
                </div>
                <p>Experience Level</p>
                <div class="grid grid-cols-2 grid-flow-row">
                    <div class="flex items-center gap-2">
                        <input type="checkbox" id="tick1" />
                        <label for="tick1">Fresher</label>
                    </div>
                    <div class="flex items-center gap-2">
                        <input type="checkbox" id="tick2" />
                        <label for="tick2">Beginner</label>
                    </div>
                    <div class="flex items-center gap-2">
                        <input type="checkbox" id="tick2" />
                        <label for="tick2">Intermediate</label>
                    </div>
                    <div class="flex items-center gap-2">
                        <input type="checkbox" id="tick2" />
                        <label for="tick2">Expert</label>
                    </div>
                </div>
            </div>
        </div>
        <div class=" w-4/5 space-y-2">
            <div class="bg-white p-2 space-y-2 rounded">
                <p class="text-lg font-semibold text-green-800">Find your dream job here!</p>
                <p class="text-sm">Explore our newest job oppurtunities to discover and apply for the top positions available today!</p>
                <div class="flex gap-4">
                    <input size="26" class="px-2 border rounded-lg" placeholder="Search job title or company here" />
                    <input size="24" class="px-2 border rounded-lg" placeholder="Search country or city here" />
                    <button class="bg-green-700 p-2 px-6 rounded-lg text-white">Search</button>
                </div>
            </div>
            <p>Showing <b class="text-green-700">{{jobs?.length}}</b> available jobs</p>
            <div class="w-full grid grid-cols-3 grid-flow-row gap-2 overflow-y-scroll">
                <div *ngFor="let job of jobs" [routerLink]="'/job/' + job._id + '/details'" class="bg-white p-2 space-y-2 rounded">
                    <div class="flex gap-2 ">
                    <img src="../../assets/logo.svg" width="40px"/>
                    <div>
                    <p>{{job.title}}</p>
                    <p>{{job.company.name}} * {{job.applicants.length}} applicant</p>
                    </div>
                    </div>
                    <div *ngFor="let skill of job.skills" class="flex gap-1 text-xs">
                        <p class="p-1 rounded-lg bg-blue-200 text-blue-800 w-max">{{skill}}</p>
                    </div>
                    <p class="text-xs line-clamp-3">{{job.description}}</p>
                    <hr/>
                    <div class="flex justify-between">
                        <p>{{job.salary}}k/m</p>
                        <p class="text-sm">Posted 12 days ago</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>