<div class=" w-[80%] m-auto space-y-10 mb-10">
    <div class="flex flex-col items-center text-center font-montserrat wrap w-2/3 m-auto gap-5 p-16 py-28">
        <p class="text-6xl">Find the <span class="text-blue-700">Best People</span> in <span
                class="text-yellow-500">Digital World</span></p>
        <p class="text-lg w-96 text-center">Find employees for success of your digital marketing business in one place
        </p>
        <div class="flex gap-5">
            <button class="bg-blue-700 p-2 text-white px-6 rounded-xl" routerLink="create">Post Your Job</button>
            <button class="bg-white p-2 px-6 rounded-xl">Find resumes</button>
        </div>
    </div>
    <div class="space-y-5">
        <p class="text-xl text-blue-500">Trusted by world's leading companies</p>
        <div class="flex border-red-300 text-blue-500 justify-between ">
            <p class="bg-white w-max p-3 px-12 rounded-lg">Airbnb</p>
            <p class="bg-white w-max p-3 px-12 rounded-lg">Airbnb</p>
            <p class="bg-white w-max p-3 px-12 rounded-lg">Airbnb</p>
            <p class="bg-white w-max p-3 px-12 rounded-lg">Airbnb</p>
            <p class="bg-white w-max p-3 px-12 rounded-lg">Airbnb</p>
            <p class="bg-white w-max p-3 px-12 rounded-lg">Airbnb</p>
        </div>
    </div>
    <div class="flex gap-4">
        <div class="p-20 py-16 space-y-2 bg-white rounded-lg ">
            <p class="text-3xl font-semibold text-blue-500 mb-8">Why Digital Services?</p>
            <li> Digital Services focuses specifically on the field of digital marketing, recognizing the unique skill
                set required in this rapidly evolving industry</li>
            <li> Our platform streamlines hiring through advanced search and selection systems, saving time and
                resources</li>
            <li> We provide a comprehensive pool of digital marketing professionals, covering all aspects of the field.
            </li>
        </div>
        <div><img src="../../../assets/image.jpg" class="w-96 rounded-xl" /></div>
    </div>
    <p class="text-4xl text-center">How it works?</p>
    <div class="flex justify-around">
        <div class="bg-white p-10 rounded-xl">
            <div class="bg-gray-200 -m-3 p-8 rounded-xl">
            </div>
            <div class="bg-orange-500 text-white rounded-full w-max p-2 px-4 -mt-5 mb-5">1</div>
            <div class="w-60 text-lg">
                <p>Create an account</p>
                <p class="text-sm">Create an account for your company and upload the information required for job
                    seekers there.</p>
            </div>
        </div>
        <div class="bg-white p-10 rounded-xl">
            <div class="bg-gray-200 -m-3 p-8 rounded-xl">
            </div>
            <div class="bg-orange-500 text-white rounded-full w-max p-2 px-4 -mt-5 mb-5">2</div>
            <div class="w-60 text-lg">
                <p>Choose your plan</p>
                <p class="text-sm">Choose from a variety of offers suitable for your business</p>
            </div>
        </div>
        <div class="bg-white p-10 rounded-xl">
            <div class="bg-gray-200 -m-3 p-8 rounded-xl">
            </div>
            <div class="bg-orange-500 text-white rounded-full w-max p-2 px-4 -mt-5 mb-5">3</div>
            <div class="w-60 text-lg">
                <p>Post a job</p>
                <p class="text-sm">Let talented candidates find you and choose the best of them</p>
            </div>
        </div>


    </div>
    <p class="bg-blue-800 text-white rounded-xl text-center w-1/2 m-auto p-3">Create a job add</p>
    <div class="w-full flex  gap-4">
        <div class="w-1/3 flex flex-col gap-2">
            <img src="../../../assets/image2.jpg" class="rounded-xl" />
            <img src="../../../assets/image3.jpg" class="rounded-xl" />
        </div>
        <div class="w-2/3 p-10 bg-white flex flex-col gap-6 rounded">
            <p class="text-xl">More than 1000 talented digital world specialists using our platform to find their dream job</p>
            <p class="text-sm">Don't wait for the perfect job seeker to find you. Get access to resumes of more than 1000 secialists
                from various fields, necessary for the successful operation of a digital marketing business and invite
                the most talented to work.</p>
            <div class="flex gap-4">
                <ng-icon name="bootstrapStarFill"></ng-icon>
                <div>
                    <p class="text-blue-500">Find candidates with a narrow specialization</p>
                    <p>With our detailed search engines you can find a specialist with strengths in skills you need for
                        your business</p>
                </div>
            </div>
            <div class="flex gap-4">
                <ng-icon name="bootstrapStarFill"></ng-icon>
                <div>
                    <p class="text-blue-500">Find candidates with a narrow specialization</p>
                    <p>With our detailed search engines you can find a specialist with strengths in skills you need for
                        your business</p>
                </div>
            </div>
            <button class="bg-blue-800 rounded p-1">Go to Job Board</button>
        </div>
    </div>
    <p class="text-3xl text-center">Plans</p>
    <div class="flex justify-between gap-5">
        <div class="bg-white border rounded-xl p-8 flex flex-col justify-around w-1/3 h-96">
            <p class="text-xl font-semibold text-center">Large</p>
            <div class="flex items-end justify-center">
                <p class="text-3xl">2490</p>
                <p class="">AUD/</p>
                <p class="text-xs">month</p>
            </div>
            <div class=" ">
                <ul class="text-sm font-semibold w-2/3 m-auto">
                    <li>Post up to 100 vacancies</li>
                    <li>Enhanced Search</li>
                    <li>Priority Support</li>
                    <li>Full Access to Analytics</li>
                </ul>
            </div>
            <button class="w-full border border-blue-500 rounded-xl w-full p-3">Get Started</button>
            <p class="text-center">Have a question? Contact Us</p>
        </div>

        <div class="flex flex-col justify-around border border-blue-500 rounded-xl p-8 w-1/3 relative h-96">
            <p class="absolute top-0 left-0 text-center rounded-t-xl bg-blue-500 text-white w-full p-2">Most Popular</p>
            <p class="text-xl font-semibold text-center">Medium</p>
            <div class="flex items-end justify-center">
                <p class="text-3xl">2490</p>
                <p class="">AUD/</p>
                <p class="text-xs">month</p>
            </div>
            <div class=" ">
                <ul class="text-sm font-semibold w-2/3 m-auto">
                    <li>Post up to 15 vacancies</li>
                    <li>Basic Search Tools</li>
                    <li>Support</li>
                    <li>Standard Analytics Tools</li>
                </ul>
            </div>
            <button class="w-full text-white bg-blue-500 rounded-xl w-full p-3">Get Started</button>
            <p class="text-center">Have a question? Contact Us</p>
        </div>
        <div class="bg-white border rounded-xl h-96 p-8 flex flex-col justify-around w-1/3">
            <p class="text-xl font-semibold text-center">Small</p>
            <div class="flex items-end justify-center">
                <p class="text-3xl">2490</p>
                <p class="">AUD/</p>
                <p class="text-xs">month</p>
            </div>
            <ul class="text-sm font-semibold text-center">
                <li>Post 1 vacancy</li>
                <li>Basic Search Tools</li>
                <li>Support</li>
                <li>Standard Analytics Tools</li>
            </ul>
            <button class="w-full border border-blue-500 rounded-xl w-full p-3">Get Started</button>
            <p class="text-center">Have a question? Contact Us</p>
        </div>

    </div>
</div>