<div>
    <div class="flex justify-around items-start p-4 gap-4">
        <div class="w-4/5">
            <div class="flex items-center py-4 pl-4 justify-between bg-white rounded">
                <img src="../../../assets/logo.svg" />
                <div class="text-left w-full">
                    <p class="text-3xl">{{job?.company.name}}</p>
                    <p>Making better place for world</p>
                </div>
            </div>
            <div class="flex gap-4 my-4">
                <div class="w-2/3 bg-white space-y-4 p-4 rounded">
                    <div>
                        <p class="text-3xl">{{job.title}}</p>
                        <p class="text-3xl text-black/50">{{job.salary}}</p>
                    </div>
                    <div>
                        <p class="text-xl">About Us</p>
                        <p>We at Ascendeum provide Data and AdTech strategy consultation to businesses
                            worldwide. We started our journey with private funding and has been operating
                            profitably since 2015. We are a lean team of 50+ highly productive and smart people
                            spread across various parts of India who have been consistently delivering
                            intelligent solutions that enable enterprise-level websites and apps to maximize
                            their digital advertising returns. Official Website: https://ascendeum.com/
                            LinkedIn: https://www.linkedin.com/company/ascendeum/mycompany/</p>
                    </div>
                    <div>
                        <p class="text-xl">Job details</p>
                        <p>
                            {{job.description}}
                        </p>
                    </div>
                    <div>
                        <p class="text-xl">Job Responsibilities</p>
                        <p>{{job.responsibilities}}</p>
                    </div> 
                    <div>
                        <p class="text-xl">Desired skills and experience</p>
                        <p>{{job.requirements}}</p>
                    </div>
                    <button class="text-xl bg-blue-500 w-full rounded p-1 text-white">Apply Now</button>
                </div>
                <div class="w-1/3 bg-white space-y-4 p-4 rounded h-max">
                    <div class="flex justify-between">
                        <button class="w-16 border p-1 border-blue-500 rounded">Save</button>
                        <button class="w-32 bg-blue-500 p-1 text-white rounded">Apply</button>
                    </div>
                    <div>
                        <p class="font-medium">Location</p>
                        <p>{{job.location}}</p>
                    </div>
                    <div>
                        <p class="font-medium">Job type</p>
                        <p>{{job.jobtype}}</p>
                    </div>
                    <div>
                        <p class="font-medium">Visa sponsorship</p>
                        <p>Not Available</p>  
                    </div>
                    <div>
                        <p class="font-medium">Collaboration hours</p>
                        <p>{{job.timeIntervalfrom}}-{{job.timeIntervalto}}</p>
                    </div>
                    <div>
                        <p class="font-medium">Experience</p>
                        <p>1+ years</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-1/5 rounded text-center bg-white p-4 h-max">
            <p class="text-xl mb-4">We Choose For You</p>
            <div class="space-y-4 text-left border border-blue-500 rounded">
                <div class="flex items-center">
                    <img src="../../../assets/logo.svg" />
                    <div>
                        <p>Senior SEO Specialist</p>
                        <p>PayPal</p>
                    </div>
                </div>
                <div class="flex items-center">
                    <img src="../../../assets/logo.svg" />
                    <div>
                        <p>Senior SEO Specialist</p>
                        <p>PayPal</p>
                    </div>
                </div>
                <div class="flex items-center">
                    <img src="../../../assets/logo.svg" />
                    <div>
                        <p>Senior SEO Specialist</p>
                        <p>PayPal</p>
                    </div>
                </div>
                <div class="flex items-center">
                    <img src="../../../assets/logo.svg" />
                    <div>
                        <p>Senior SEO Specialist</p>
                        <p>PayPal</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <p>Recommended jobs</p>
        
    </div>
</div>