<div class="border w-2/5 m-auto mt-8 flex flex-col gap-2 p-14 rounded-xl">
    <p class="text-3xl">Log In</p>
    <p class="text-sm">Don't have an account? Sign Up</p>
    <div>
    <p>Email</p>
    <input id="login" placeholder="Enter your email" class="border rounded-xl p-2 w-full"/>
    </div>
    <div>
    <p>Password</p>
    <input id="login" placeholder="Enter your password" class="border rounded-xl p-2 w-full"/>
    </div>
    <p class="text-sm text-end">Forget Password</p>
    <button class="bg-blue-500 w-max rounded-xl p-3 px-8 text-white m-auto">Log In</button>
    </div>