<div class="flex justify-between items-center bg-white w-full px-2">
    <div routerLink="/" class="flex items-center">
        <img src="../../assets/logo.svg" class="">
        <p class="text-3xl text-green-800">Jobify</p>
    </div> 
    <div class="flex w-2/5 justify-around font-montserrat text-lg">
        <a routerLink="/job" routerLinkActive="text-red-500">Find Jobs</a>
        <a routerLink="/hiretalent" routerLinkActive="text-red-500">Hire Talent</a>
        <a routerLink="/company/create" routerLinkActive="text-red-500">Create Job</a>
        <a routerLink="/about" routerLinkActive="text-red-500">About</a>
    </div>
    <button mat-button [matMenuTriggerFor]="beforeMenu" class="text-green-800 font-medium "> 
        <ng-icon name="bootstrapPersonCircle" size="2em"></ng-icon>
    </button> 
    <mat-menu #beforeMenu="matMenu" xPosition="before">
        <a  mat-menu-item routerLink="/candidate/login">Sign In</a>
        <a mat-menu-item routerLink="/company/login">Company Sign In</a>
        <a mat-menu-item routerLink="/candidate/register">Sign Up</a>
        <a mat-menu-item routerLink="/company/register">Company Sign Up</a>
        <a mat-menu-item (click)="handleLogout()">Log Out</a>
    </mat-menu>
</div>