<div class="w-[80%] m-auto">
    <div class="border border-red-500 bg-white m-4 p-4">
        <p class="text-blue-500 text-3xl">Create Your Profile</p>
        <p>And apply for the best vacancies from 2000+ companies on our website</p>
        <div>
            <p class="border border-red-300 rounded-full text-center">0% of profile completed</p>
            <p>Add details to your profile</p>
            <p>Upload CV</p>
        </div>
    </div>
    <div class="flex">
        <img src="../../../assets/logo.svg"/>
        <div>
            <p class="text-3xl">Ann</p>
            <p>Software Developer</p>
            <p>Status</p>
            <div>
            <p>Add Education</p>
            <p>Email</p>
            <p>Website</p>
            <p>Phone Number</p>
            </div>
        </div>
    </div>
    <div>
        <div>
            <p>About Me</p>
            <button>+ Add Information</button>
        </div>
        <div>
            <p>My Resume</p>
            <button>+ Add Resume</button>
        </div>
        <div>
            <p>Experience</p>
        </div>
        <div>
            <p>Latest Updates</p>
        </div>
    </div>
    <div>
        <div>
        <div>
            <p>Skills</p>
            <button>+ Add Skill</button>
        </div>
        <div>
            <p>Education</p>
            <button>Add Education</button>
        </div>
        </div>
        <div>
            <p>Best vacancies for you</p>
            <div>
                <img/>
                <div>
                    <p>Senior SEO Specialist</p>
                    <p>Paypal</p>
                    <div>
                        <p>4 years</p>
                        <p>Remote</p>
                        <p>Full-time</p>
                        <p>$20,000</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>